# Ignore everything
*
*/**

# Include only the files that should be in the .vsix
!out/src/extension/main.js
!out/webviews/**/*
!README.md
!CHANGELOG.md
!LICENSE
!media/**/*
!syntaxes/**/*
!images/**/*
!sqlite-bin/**/*
!node_modules/@vscode/codicons/dist/*
!node_modules/@vscode/webview-ui-toolkit/dist/**/*